{% load static %}
<footer>
    <ul class="client-info">
        <li><i class="fa-solid fa-phone"></i> 403-795-2452</li>
        <li><i class="fa-solid fa-envelope"></i> kaiyousf@centuryautoltd.com</li>
        <li><i class="fa-solid fa-location-dot"></i> 3110 16th avenue North, Lethbridge, AB</li>
    </ul>

    <ul class="social-media">
        <li><a href="https://www.instagram.com/centuryautoltd?igsh=MThmcWY5enFrbHdv&utm_source=qr" title="Instagram"
               target="_blank"><i class="fa-brands fa-instagram fa-3x" style="color: #f14e49;"></i></a></li>
        <li><a href="#" title="Facebook"><i class="fa-brands fa-facebook fa-3x" style="color: #1561e5;"></i></a></li>
        <li><a href="#" title="Snapchat"><i class="fa-brands fa-snapchat fa-3x" style="color: #e0e01a;"></i></a></li>
    </ul>

    <div class="copyright">
        <p>&copy; 2024. All rights reserved to Century Auto Ltd.</p>
    </div>
</footer>